body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my-effect{
    background-color: blue;
    min-height: 100px;
    min-width: 100px;
}

.my-effect:hover{
    animation: myanimation 10s infinite ease-in-out alternate-reverse

}

@keyframes myanimation{
    0%{
        width: 50px;
    }
    35%{
        width: 25px;
        height: 50px;
    }
    50%{
        transform: scale(1.2) translate(500px);
    }
    
    100%{
        width: 100px;
        height: 200px;
        background-color: red;
    }
}

.ball{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 99px;
    /* animation-direction: alternate; */
    animation: boucing 2s infinite ease-in-out alternate-reverse
}

@keyframes boucing{
    0%{
        transform: translateY(0)
    }
    /* 50%{
        transform: translateY(-110px)
    } */
    100%{
        transform: translateY(-200px)
    }
    /* from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100px);
    } */
}